<mat-card >
<mat-card-header class="header"> Elections </mat-card-header>
<br />
  <mat-card-content>
  <button class="add-button" mat-raised-button color="primary" (click)="refreshElections()">
          Refresh
  </button>

  <br />
  <br />
  <table mat-table [dataSource] = "elections" class="mat-elevation-z8">
      <ng-container matColumnDef="Label">
        <th mat-header-cell *matHeaderCellDef> <b>Label</b> </th>
        <td mat-cell *matCellDef="let election" > {{election.label}} </td>
      </ng-container>
      <ng-container matColumnDef="Start Time">
        <th mat-header-cell *matHeaderCellDef> <b>Start Time</b> </th>
        <td mat-cell *matCellDef="let election"> {{election.start_time}} </td>
      </ng-container>
      <ng-container matColumnDef="End Time">
        <th mat-header-cell *matHeaderCellDef> <b>End Time</b> </th>
        <td mat-cell *matCellDef="let election"> {{election.end_time}} </td>
      </ng-container>   
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> <b> Action </b> </th>
        <td mat-cell *matCellDef="let election">
          <span *ngIf="election.status==0"> 
        <button class="add-button" mat-raised-button color="primary" (click)="updateElection(1)">
          Start Election
          </button>
      </span>
      <span *ngIf="election.status==1"> 
      <button class="add-button" mat-raised-button color="primary" (click)="updateElection(2)">
          End Election
          </button>
      </span>
      <span *ngIf="election.status==2"> 
      <button class="add-button" mat-raised-button color="primary" (click)="calculateVotes()">
          Calculate Votes
          </button>
      </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
