table {
    width: 100%;
  }

  .card {
    background: rgba(255,255,255, 0.6);
   
  }

  .refresh-button{
    background: rgba(30, 30, 30, 0.9);
  }

  .verify-button{
    background: rgba(30, 30, 30, 0.9);
  }

  th {
    font-size: 11pt;
    text-align: center;
    background-color: rgb(190,190,190);
  }

  td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }