<mat-card>
<mat-card-header class="header">Voter Registration</mat-card-header>
<br />
  <mat-card-content>
  <div >

  <!-- <input #heroName /> -->
  <form  class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Full Name" #fn>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Adhaar Number" #an>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone number" #pn>
    </mat-form-field>
    <br />
    <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Date of Birth" (dateChange)="set_date($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
  <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Gmail" #gm>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address" #ad>
    </mat-form-field>
    <mat-select name="constituency" placeholder="Constituency" #constituency>
      <mat-option *ngFor="let constituency of constituencies" [value]="constituency.name">{{constituency.name}}</mat-option>
    </mat-select>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" #pass type="password">
    </mat-form-field>
    <br />
    <button class="add-button" mat-raised-button color="primary" (click)="add(fn.value,an.value,pn.value,dob.value,gm.value,ad.value,pass.value, constituency.value);">
      Submit
    </button>
  </form>
<!-- (click) passes input value to add() and then clears the input -->

</div>

  </mat-card-content>
</mat-card>

